.btn-Save {
  width: 125px;
  height: 48px;
  background: #4498f8;
  border-radius: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  border: none;
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: 16px 12px;
  line-height: 100%;
  cursor: pointer;
}

.btn-Save:hover {
  background-color: rgb(31, 57, 206);
}
