::backdrop {
  background-color: #dadada;
  opacity: 0.75;
}

.dialog-style {
  padding: 8px 16px 16px;
  gap: 10px;
  width: 472px;
  background-color: #eeeeee;
  border-radius: 16px;
  border: none;
}

.btn-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 16px;
}

.close-btn-area {
  text-align: right;
}
